body{
    min-height: 100vh;
    display: flex;;
    justify-content: center;
    align-items: center;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
section{
    height: 1020px;
    width: 480px;
    border: 1px solid #ccc;
    border-radius: 30px;
    overflow-y: scroll;
}
header{
    padding: 30px;
    padding-top: 45px;
    padding-bottom: 0px;
}
.menu{
    background: #f7f7f7;
    padding: 0.5em;
    padding-top: 1em;
    padding-right: 1em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    color: #3684e4;
}
main{
    background: #f7f7f7;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    min-height: 100px;
    padding-top: 10px;
}
.pagebodymain{
    padding: 15px;
    padding-top: 30px;
    text-align: center;
}
.pagebodymain h2{
    font-size: 1.5rem;
    font-weight:500;
    color:#3E3049;
    margin-bottom: 20px;
    margin-top: -15px;
        
}
.fightcovid {
    display: flex;
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.logo{
    margin-bottom: 70px;
}
.logo figcaption{
    text-align: left;
    font-size: 14px;
}
.logo button{
    background-color: #df68f7; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
}
.logo p{
    text-align: left;
}
.content-table {
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 0.9em;
    min-width: 300px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: -25px;
    
}
.content-table button{
    border-radius: 5px;
    background-color: #009879;
    color: #ccc;
}
.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}
.content-table th,
.content-table td {
    padding: 15px 15px;
}
.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}  
footer{
    position: fixed;
    height: 50px;
    background-color: #f05f5a;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
